.bg-brown {
  background-color: brown;
}

/* Sidebar hover effects */
.nav-link:hover {
  background-color: #495057;
  transition: 0.2s ease-in-out;
}

/* Ensure body doesn't horizontal scroll */
body {
  overflow-x: hidden;
}

/* Sidebar Link Hover Effect */
.nav-link.hover-effect:hover {
  background-color: #495057;
  color: #fff !important;
  transition: 0.3s;
}

/* Ensure the main content doesn't get squished */
.flex-grow-1 {
  min-width: 0;
}


/* Sidebar Link Hover Effect */
.hover-effect:hover {
  background-color: #3d4349;
  color: #0d6efd !important;
  transition: all 0.2s ease;
}

/* Ensure smooth scrolling */
html,
body {
  height: 100%;
}

.cursor-pointer {
  transition: all 0.25s ease-in-out;
}

.cursor-pointer:hover {
  cursor: pointer;
  /* color: white !important; */
  /* background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important; */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

.sidebar-logo {
  max-width: 180px;
  height: auto;
  object-fit: contain;
}

/* Tablet */
@media (max-width: 991px) {
  .sidebar-logo {
    max-width: 50% !important;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .sidebar-logo {
    max-width: 50% !important;
  }
}

.sidebar-close-icon {
  position: fixed;
  z-index: +2;
  top: 15px;
  left: 240px;
}

.toggle-btn:hover {
  background-color: transparent !important;
  color: white !important;
  border: none !important;
}

.toggle-btn {
  border: none !important;
}


.toggle-btn ::backdrop:hover {
  border: none !important;
}

.btn {
  transition: box-shadow 0.25s ease;
}

.btn:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.sidebar-btn {
  color: var(--bs-btn-hover-color) !important;
  /* background-color: var(--bs-btn-hover-bg) !important; */
  border-color: var(--bs-btn-hover-border-color) !important;
}

.admin-login-btn{
  background-color: transparent !important;
  border-color: var(--bs-btn-hover-border-color) !important;
  color: white !important;
}

.alert-button {
margin-top: 0 !important;
padding: 7px 16px !important;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  background: #f3f3f3;
}

/* image behavior */
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hidden state */
.image-hidden {
  opacity: 0;
}

/* smooth fade */
.image-visible {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
