@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Merriweather", serif;
}

.banner {
  height: 800px;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.15) 100%),
    url("assets/banner1.jpg") lightgray 50% / cover no-repeat;
  background-position: 10% 25%;
}

.shop-banner {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%),
    url("assets/shopbanner1.png") lightgray 3.589px 1.817px / 100% 197.462% no-repeat;
}

/* Add these styles to your CSS file */
.sidebar-enter {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar-enter-active {
  transform: translateX(0);
}

.sidebar-exit {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.sidebar-exit-active {
  transform: translateX(-100%);
}


.singleOrder-table td {
  text-align: left;
}

.singleOrder-table th {
  text-align: left;
}

.header-padding-y {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.bg-brown {
  background-color: brown !important;
}

.z-9999 {
  z-index: 9999 !important;
}

.bg-common-color {
  background-color: brown !important;
}

.menu-item {
  width: 100%;
  padding: 12px 0;
  font-size: 1.1rem;
  text-align: center;
  color: white;
  transition: all 0.25s ease;
  text-decoration: none;
  font-weight: 500;
}

.menu-item:hover {
  background-color: #f3e6d8;
  color: #5a2d0c;
}

.menu-item-active {
  background-color: #f3e6d8;
  /* warm beige */
  color: #5a2d0c !important;
  /* deep brown */
  font-weight: 500;
}

.main-header {
  font-weight: 500;
  width: 100%;
  /* padding: 12px 0; */
  font-size: 1.1rem;
  text-align: center;
  color: white;
  transition: all 0.25s ease;
}